body{font-family: 'Josefin Sans', sans-serif;}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul{list-style: none;}
img{
    max-width: 100%;
    display: block;
}
h1{
    color: #076470;
    font-size: 2em;
}
p{
    font-size: 1.125em;
    line-height: 1.4em;
    padding: 5px;
}